.card {
  border-radius: 10px;
  background-color: white;
  border-radius: 10px;
  height: 100px;
}
.CartCard_imgContainer__2LzRD .CartCard_img__AsvQX img {
  display: block;
  max-width: 230px;
  max-height: 95px;
}
.Cart_itemContainer__M645i {
  background-color: #aea75e;
}
